
$font-family_1: Arial, sans-serif;
$background-color_1: peachpuff;
$border-top-color_1: rgba(200, 200, 200, 0.41);

body {
	font-family: $font-family_1;
	margin: 0;
	padding: 0;
	background-color: $background-color_1;
}
footer {
	background-color: $background-color_1;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
	border-width: 3px;
	border-top-style: double;
	border-top-color: $border-top-color_1;
	padding: 5px;
}
.app-container {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.topbar {
	width: 100%;
	height: 20vh;
	border: 1px solid black;
	padding: 10px;
}
* {
	box-sizing: border-box;
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}
